{% capture logo_path %}{{ site.logo }}{% endcapture %}

<nav id="site-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    {% unless logo_path == empty %}
    <a class="navbar-brand" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt=""></a>
    {% endunless %}
    <a class="site-title" href="{{ '/' | relative_url }}">
        {{ site.masthead_title | default: site.title }}
        {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if nav.url %}
            <li class="nav-item">
                <!-- <a class="nav-link" href="#">Link</a> -->
                <a href="{{ nav.url | relative_url }}"><span class="nav-link">{{ nav.title }}</span></a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    {{ nav.title }}
                </a>

            </li>
            <!-- <span class="nav__sub-title">{{ nav.title }}</span> -->
            {% endif %}

            {% if nav.children != null %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            </div>
                {% for child in nav.children %}
                    <a class="dropdown-item" href="{{ child.url | relative_url }}">{{child.title }}</a>
                    <!-- <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a> -->
                    {% endfor %}
            </div>
            <!-- <li><a href="{{ child.url | relative_url }}" {% if child.url==page.url %} class="active" {% endif %}>{{child.title }}</a></li> -->
            {% endif %}
        </ul>
    </div>

    {% if site.search == true %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="hidden-links hidden"></ul>
</nav>